.container {}

.profile__container {
    width: 100%;
    padding-top: 19px;
}

.profile__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.profile__header-right {
    display: flex;
    align-items: center;
}

.profile__user-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile__ava {
    border-radius: 50%;
}

.profile__user-right {}

.profile__user-name {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.profile__user-id-label {
    position: relative;
}

.profile__user-id-input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.profile__user-id-input:focus {
    border: none;
    outline: none;
}

.profile__user-id-copy-icon {
    position: absolute;
    bottom: 3px;
    right: 90px;
}

.profile__header-buttons-wrapper {
    margin-left: 76px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile__button-cash {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 23px 5px 23px;
    border: none;
    background: none;
    color: #6D6D6F;
    background: #F4F4F4;
    cursor: pointer;
    border-radius: 100px;
}

.profile__button-logout {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F29C37;
    border: none;
    border-radius: 100px;
    padding: 4px 10px 6px 10px;
    cursor: pointer;
}

.profile__main {
    padding-top: 45px;
    display: flex;
    gap: 22px;
}

.profile__left {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83vh;
    background: #275060;
    border-radius: 20px;
}

.profile__left-top {}

.profile__balance-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 15px;
    padding-top: 23px;
    margin-bottom: 9px;
}

.profile__balance {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 12px;
    padding-left: 18px;
    margin: 0;
}

.profile__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #F29C37;
    margin: 0;
}

.profile__bottom-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F29C37;
    height: 33px;
    padding-left: 30px;
    border-left: 4px solid #F29C37;
    text-decoration: none;
}

.profile__bottom-btn {
    margin-top: 50px;
    background: #F4F4F4;
    border-radius: 100px;
    padding: 13px 31px 14px 31px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #6D6D6F;
    margin-left: 25px;
}

.profile__bottom {}

.profile__activated {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 17px;
    padding-bottom: 20px;
}

.profile__error-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    padding-right: 10px;
}

.profile__right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__banner {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    height: 233px;
    border-radius: 20px;
    background-image: url('./../../assets/images/profileBanner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.profile__banner-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin: 0;
    max-width: 450px;
    margin-bottom: 23px;
    margin-left: 287px;
    margin-top: 25px;
}

.profile__banner-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    max-width: 427px;
    margin-left: 287px;
}

.profile__payment {}

.profile__payment-title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 42px;
    margin-bottom: 15px;
}

.profile__payment-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.profile__payment-item {
    display: flex;
    align-items: center;
    gap: 9px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 17px 0 23px 8px;
    width: 378px;
    cursor: pointer;
}

.profile__payment-item-icon {}

.profile__payment-item-right {}

.profile__payment-item-title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 9px;
}

.profile__payment-item-subtitle {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
@keyframes ldio-q6yet173mcl {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-q6yet173mcl div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #f29c37;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-q6yet173mcl div {
    animation: ldio-q6yet173mcl 1s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-abnchqzzkj4 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-q6yet173mcl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-q6yet173mcl div { box-sizing: content-box; }
  /* generated by https://loading.io/ */