.reg__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.reg__logo {
    margin-top: 50px;
    margin-bottom: 50px;
}
.registration__form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.reg__label {
    width: 440px;
    transition: all 0.3s ease;
}

.reg__input {
    width: 420px;
    display: block;
    background-color: #fafafa;
    color: #444;
    border: #333 solid 1px;
    border-radius: 20px;
    padding: 10px;
    max-height: 38px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 5px;
}

.error {
    margin: 0;
    display: none;
    transition: all 0.3s ease;
    color: red;
    font-size: 12px;
    padding-left: 8px;
    padding-bottom: 5px;
}

.visiblee ~ .error {
    display: flex;
}

.reg__input:hover{
    border: none;
}

.reg__input:focus{
    border: none;
    outline: none;
}

.reg__label:hover {
    box-shadow: 0 0 0 1px #00d084;
}

.reg__label:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px #00d084;
}
.error__name {
}
.error {
}
.error__last {
}
.error__mail {
}
.error__phone {
}
.error__country {
}
.error__password {
}
.error__confirm {
}

.m {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reg__homeButton {
    position: absolute;
    left: 30px;
    bottom: 30px;

    display: flex;
    align-items: center;
}

.reg__homeButton:hover .log__arrow {
    transform: translateX(-5px) rotate(90deg);
}

@media only screen and (max-width: 900px) {
    /* MOBILE */

    .reg__homeButton {
        position: absolute;
        left: 30px;
        bottom: -100px;
    
        display: flex;
        align-items: center;
    }
    
    .reg__homeButton:hover .log__arrow {
        transform: translateX(-5px) rotate(90deg);
    }
}
