header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 58px;
}

.heading {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}
.header__inner_wrapper {
    display: flex;
}
.header__search_btn {
    border: none;
    background: none;
    object-fit: cover;
    margin-right: 25px;
}
.header__notifications_btn {
    border: none;
    background: none;
    object-fit: cover;
}
.header__line {
    margin-top: 6px;
    width: 2px;
    height: 32px;
    background: #DFE0EB;
    margin-left: 32px;
    margin-right: 32px;
}

.ava__wrapper {
    display: flex;
    align-items: center;
}
.header__user_name {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
    margin-right: 14px;
}
.header__ava {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #DFE0EB;
}