.header__top-wrapper {
    background: #191F2B;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.container {}

.header__left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__left-phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__left-mail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 34px;
}

.header__right-login {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.header__login-icon {}

.header__right-register {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__register-icon {}

.header__bottom-wrapper {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 26px;
}

.container {}

.header__bottom-logo-link {}

.header__bottom-logo {
    margin-right: 74.83px;
}

.header__navbar {}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-right: 53px;
    padding: 0;
}

.header__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__nav-link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #191F2B;
    cursor: pointer;
}

.header__nav-item:hover .header__nav-link {
    color: #F29C37;
}

.header__nav-item:hover .header__drop-arrow path{
    stroke: #F29C37;
}
.header__nav-item:hover .header__nav-drop{
    display: flex;
    transform: scale(1);
    transition: all 0.3s ease;
}

.header__drop-arrow {
    margin-left: 7px;
}

.header__nav-drop {
    display: none;
    transform: scale(0);
    z-index: 99999;
    transition: all 0.3s ease;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
}

.header__drop-list {
    display: flex;
    flex-wrap: wrap;
    height: 196px;
    width: 642px;
    padding: 10px;
    padding-top: 50px;
    background-color: #ffffff;
    z-index: 9999;
    list-style-type: none;
}

.header__drop-item {
    padding: 0;
    border-bottom: 1px dotted #e0e0e0;
    padding: 7px 0;
    font-weight: 700;
    width: 300px;
    color: #252525;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

.header__drop-link {
    text-decoration: none;
    color: #191F2B;
}

.header__drop-link:hover {
    color: #F29C37;
    transform: scale(1.06);
}

.header__bottom-open {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #F29C37;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
    width: 169px;
}

.header__bottom-open:hover {
    color: #F29C37;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px#F29C37;
}

.header__bottom-open:active {
    color: #f29b3791;
    background: #FFFFFF;
}

.active {
    color: #F29C37;
}

.active .header__drop-arrow path{
    stroke: #F29C37;
}

