.courses__cards {
    display: flex;

    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 40px;
}


.courses__wrapper {
    width: 100%;
}

.courses__title {
    text-align: center;
}

.courses__title h3 {
    font-size: 34px;
}

.courses__card {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
    padding: 15px 35px;
    border-radius: 20px;
}

.couses__card-heading{
    text-align: center;
}
.courses__card-price {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.courses__descr {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.courses__descr li {
    margin-bottom: 10px;
}

.courses__descr li svg {
    margin-right: 5px;
}

.courses__card a {
    transition: 0.5s;
    padding: 10px 20px;
}

.courses__bottom-text {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gray {
    color: #C3C3C3 !important;
}